*{
  margin: 0;
  padding: 0;
}

html{
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.container{
  height: 10em;
  position: relative;
}

.container__section{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container__section__form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container__section__form__button{
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color:#768d87;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:11px 23px;
  text-decoration:none;
  text-shadow:0px -1px 0px #2b665e;
  margin: 0 2rem;
}

.container__section__form__button:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.container__section__form__button:active {
	position:relative;
	top:1px;
}
